
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Temp/_MyLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add-to-cart-btn").click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của nút

            var productId = $(this).data("product-id");

            $.ajax({
                url: "/Cart/AddToCart", // Đường dẫn đến action AddToCart trong controller
                type: "POST",
                data: { productId: productId },
                success: function (response) {
                    // Xử lý khi thêm sản phẩm thành công (nếu cần)
                    alert("Product added to cart successfully!");
                },
                error: function () {
                    // Xử lý khi có lỗi xảy ra (nếu cần)
                    alert("Error adding product to cart!");
                }
            });
        });
    });

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    var min = document.getElementById("min-value");
    var max = document.getElementById("max-value");

    min.innerHTML = slider.min;
    max.innerHTML = slider.value;

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = this.value;
        max.innerHTML = this.value;
    }
</script>


<style>
    .slidecontainer {
        width: 100%; /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 25px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #04AA6D; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #04AA6D; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
</style>

<!--================End Main Header Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Shop</h3>
            <ul>
                <li><a href="/trang-chu">Home</a></li>
                <li><a href="/san-pham">Shop</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Product Area =================-->
<section class="product_area p_100">
    <div class="container">
        <div class="row product_inner_row">
            <div class="col-lg-9">
                <div class="row m0 product_task_bar">
                        <div class="product_task_inner">
                            @*<div class="float-left">
                                <a class="active" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                                <span>Showing 1 - 10 of 55 results</span>
                            </div>
                            <div class="float-right">
                                <h4>Sort by :</h4>
                                <select class="short">
                                    <option data-display="Default">Default</option>
                                    <option value="1">Default</option>
                                    <option value="2">Default</option>
                                    <option value="4">Default</option>
                                </select>
                            </div>*@
                        </div>
                    </div>
                @if (Model != null)
                {
                    <!-- Thực hiện các thao tác trên Model ở đây -->
                    @Html.Action("getProductByCategory", "Product", new { id = Model.id })
                }
                else
                {
                    @Html.Action("getProduct", "Product")
                }
            </div>
            <div class="col-lg-3">
                <div class="product_left_sidebar">
                    <aside class="left_sidebar search_widget">
                        @*<div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Search Keywords">
                            <div class="input-group-append">
                                <button class="btn" type="button"><i class="icon icon-Search"></i></button>
                            </div>
                        </div>*@
                    </aside>
                    <aside class="left_sidebar p_catgories_widget">
                        <div class="p_w_title">
                            <h3>Danh Mục Sản Phẩm</h3>
                        </div>
                        @Html.Action("getCategory", "Product")
                    </aside>
                    @*<aside class="left_sidebar p_price_widget">
                        <div class="p_w_title">
                            <h3>Filter By Price</h3>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" min="10000" max="10000000" value="1000" class="slider" id="myRange">
                            <p>Min: <span id="min-value"></span></p>
                            <p>Current: <span id="demo"></span></p>
                            <p>Max: <span id="max-value"></span></p>
                        </div>
                    </aside>*@
                    @*<aside class="left_sidebar p_sale_widget">
                        <div class="p_w_title">
                            <h3>Top Sale Products</h3>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/product/sale-product/s-product-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Brown Cake</h4></a>
                                <ul class="list_style">
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <h5>$29</h5>
                            </div>
                        </div>
                    </aside>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Area =================-->
