@model List<HPCakes.Models.news>


<div class="r_title">
    <h3>Recent News</h3>
</div>
<div class="recent_w_inner">
    @foreach (var item in Model.Take(5))
    {
        <div class="media">
            <div class="d-flex">
                <img src="~/img/@item.img" alt="" style="max-width:100px; max-height:80px; min-height: 80px; min-width: 100px">
            </div>
            <div class="media-body">
                <a href="@Url.Action("BlogsDetail", "Blog", new { id = item.id, meta = item.meta })" class="truncated"><h4>@item.name</h4></a>
                <a href="#"><p>@(item.datebegin.HasValue ? item.datebegin.Value.ToString("dd/MM/yyyy") : "")</p></a>
            </div>
        </div>
        
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.getElementsByClassName("truncated");
        var maxWordCount = 10; // Số từ tối đa
        var maxCharCount = 50; // Số ký tự tối đa

        for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            var text = element.textContent.trim();
            var words = text.split(" ");
            var charCount = text.length;

            if (charCount > maxCharCount) {
                // Kiểm tra nếu vượt quá ngưỡng ký tự tối đa
                text = text.substring(0, maxCharCount).trim();
                var lastSpaceIndex = text.lastIndexOf(" ");
                if (lastSpaceIndex !== -1) {
                    text = text.substring(0, lastSpaceIndex);
                }
                element.textContent = text + "...";
            } else if (words.length > maxWordCount) {
                // Kiểm tra nếu vượt quá ngưỡng từ tối đa
                text = words.slice(0, maxWordCount).join(" ");
                element.textContent = text + "...";
            }
        }
    });
</script>