@model IEnumerable<HPCakes.Models.product>

<section class="cake_feature_four">
    <div class="container">
        <div class="cake_feature_inner">
            <div class="main_title">
                <h2>Our Featured Cakes</h2>
                <h5> Seldolor sit amet consect etur</h5>
            </div>
            <div class="cake_feature_slider owl-carousel">
                @foreach (var item in Model.Take(6))
                {
                    <div class="item">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="~/img/@item.img" alt="" style="width: 100%; height: 300px; object-fit: cover; display: flex; justify-content: center; ">
                            </div>
                            <div class="cake_text">
                                <h4>@item.price</h4>
                                <h3>@item.name</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                 }
                
            </div>
        </div>
    </div>
</section>